<h2>Edit your profile</h2>

<div class="content">

  <div class="form">
    <form action="/djs/<%= @dj.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="name"> Name:</label>
      <input type="text" id="dj_name" name="dj[name]" value="<%= @dj.name %>"><br><br>

    <label for="based_in"> Based in:</label>
      <input type="text" id="dj_based_in" name="dj[based_in]" value="<%= @dj.based_in%>"><br><br>
      
    <label for="bio"> Your bio:</label>
    <textarea class="form-control" id="dj_bio" name="dj[bio]" rows="6"><%= @dj.bio %> </textarea>
   





        
    <div class="genre_form">
    <label for="genres"> The genres you play:</label>
      <% Genre.all.each do |genre| %>
        <ul> <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"<%='checked' if @dj.genres.include?(genre) %>>
          <li><%= genre.name %></li><br>
            </ul><% end %> <br> 
  
    <br> <label for="create_new_genre"> Create a new genre:</label>
    <input type="text" id="new_genre" name="genre[name]"><br><br>
       
      <br><br>

   
      <input type="submit" value="Save">
    </form> <br>


    <form action="/djs/<%= @dj.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Account">
    </form>

     </div>
   </div>
  
</div>

