<h2>Edit your profile</h2>

<div class="content">

  <div class="form">
    <form action="/djs/<%= @dj.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="name"> Name:</label>
      <input type="text" id="dj_name" name="dj[name]" value="<%= @dj.name %>"><br><br>

    <label for="based_in"> Based in:</label>
      <input type="text" id="dj_based_in" name="dj[based_in]" value="<%= @dj.based_in%>"><br><br>
      
    <label for="bio"> Your bio:</label>
      <input type="text" id="dj_bio" name="dj[bio]" value="<%= @dj.bio %>"><br><br>
        
    <div class="genre_form">
    <label for="genres"> The genres you play:</label>
      <% Genre.all.each do |genre| %>
        <ul> <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"<%='checked' if @dj.genres.include?(genre) %>>
          <li><%= genre.name %></li><br>
            </ul><% end %> <br> 
  
       
      <br><br>
      
      <label for="password">Put in your current password to change your password:</label>
        <input type="password" id="dj_password" name="dj[password]"><br><br>
        <label for="password">New password:</label>
        <input type="password" id="dj_password" name="dj.newpassword1"><br><br>
        <input type="password" id="dj_password" name="dj.newpassword2"><br><br>

      <input type="submit" value="Save">
    </form> <br>


    <form action="/djs/<%= @dj.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Account">
    </form>

     </div>
   </div>
  
</div>

