<body>
<%= flash[:success]%>
<% if @dj == current_user %>
  <h1>Welcome <%= @dj.name %></h1>

  <h2>Your Upcomming Gigs:</h2>
  <% if !@dj.gigs.empty? %>
    <% @dj.gigs.collect do |gig| %>
      <ol>
        <li>
        <%= gig.name %> <br>
        <%= gig.venue %><br>
        <%= gig.city %><br>
        <%= gig.promoter %>
        <br><br>
        </li>
      </ol>
    <% end %>
    <% else %>
    You have no shows booked. 
    <%end%>

    <h3>Your Info:</h3>
    <%= @dj.based_in %><br>
    <%= @dj.bio %><br>
    <% @dj.genres.collect do |genre| %>
      <ul>
        <ol><%= genre.name %><ol>
      </ul>
      <%end%>
      <br>
    <a href="/djs/<%=@dj.id%>/edit">Click here to edit your details</a>
<% end %>
</body>
<br><br>
<a href="/logout">Log Out</a>