<h2>Edit your gig</h2>

<div class="content">

  <div class="form">
    <form action="/gigs/<%= @gig.id%>" method="POST"> 
    <input type="hidden" name="_method" value="PATCH">

    <label for="name"> Name:</label>
      <input type="text" id="gig_name" name="gig[name]" value="<%= @gig.name %>"><br><br>

    <label for="promoter_based_in"> Venue:</label>
      <input type="text" id="gig_venue" name="gig[venue]" value="<%= @gig.venue%>"><br><br>
      
    <label for="promoter_based_in"> City:</label>
      <input type="text" id="gig_city" name="gig[city]" value="<%= @gig.city%>"><br><br>
      
   
      <input type="submit" value="Save">
    </form> <br>


    <form action="/gigs/<%= @gig.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Gig">
    </form>

  </div>

  
</div>

