<body>
<%= flash[:message]%>

  <h1>Details for <%= @gig.name%></h1>
  <h4>Promoter:</h4> <%= @gig.promoter.name%>
  <h4>Venue:</h4> <%= @gig.venue%>
  <h4>City:</h4> <%= @gig.city%></h4>
  <h4>Booked Djs:</h4> 
  <% if @gig.djs.empty? %>
       <%= "DJs will be booked soon."%>
       <% end %>
    <% @gig.djs.each do |dj| %>
      <ul>
        <li><%= dj.name %></li>
      </ul>
    <%end %>

  <br>  <br>
  Click <a href="/gigs">here</a> to go back to the gigs page. <br>
  
  <% if promoter_current_user == @gig.promoter %>
    Click <a href="/gigs/<%=@gig.id%>/edit">here</a> to go edit this gig.<br>
  <% end %>
  </body>