<h2>Edit your profile</h2>
<div class="content">
  <div class="form">
    <form action="/promoters/<%= @promoter.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name"> Name:</label>
      <input type="text" id="promoter_name" name="promoter[name]" value="<%= @promoter.name %>"><br><br>
    <label for="promoter_based_in"> Based in:</label>
      <input type="text" id="promoter_based_in" name="promoter[based_in]" value="<%= @promoter.based_in%>"><br><br> 
    <label for="promoter_bio"> Bio:</label>
      <textarea class="form-control" id="promoter_bio" name="promoter[bio]" rows="6"><%= @promoter.bio %> </textarea> <br>
        
    <div class="gig_form">
      <br><label for="create_new_gig"> <h3>Create a new gig:</h3></label>
      <label>Name:</label>
      <input type="text" id="new_gig_name" name="gig[name]"><br>
      <label>Venue:</label>
      <input type="text" id="new_gig_venue" name="gig[venue]"><br>
      <label>City:</label>
      <input type="text" id="new_gig_city" name="gig[city]">
    </div>
    <br><br>   
      <input type="submit" value="Save">
    </form> <br>

    <div class="delete_form">
    <form action="/promoters/<%= @promoter.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Account">
    </form>
    </div>
   </div>
</div>

