<%= flash[:message]%>
<% if @promoter == promoter_current_user %>
  <h1>Welcome <%= @promoter.name %></h1>
  <h2>Your Upcoming Gigs:</h2>
  <% if !@promoter.gigs.empty? %>
    <% @promoter.gigs.collect do |gig| %>
      <ol>
        <li>
          <h4><a href="/gigs/<%=gig.id%>"><%= gig.name %></a> </h4>
          <b>Venue: </b><%= gig.venue %><br>
          <b>City: </b><%= gig.city %><br>
        </li>
      </ol>
    <% end %>
  <% else %>
    You currently have no shows booked. 
  <%end%>
  <h3>Your Info</h3>
  <h4> Based in: </h4><%= @promoter.based_in %><br>
  <h4> Bio: </h4><%= @promoter.bio %><br><br>
  <a href="/promoters/<%=@promoter.id%>/edit">Click here to edit your details</a>
<%end%>