<body>
<%= flash[:success]%>
<% if @promoter == promoter_current_user %>
  <h1>Welcome <%= @promoter.name %></h1>

  <h2>Your Upcomming Gigs:</h2>
  <% if !@promoter.gigs.empty? %>
    <% @promoter.gigs.collect do |gig| %>
      <ol>
       
         <li>
           <%= gig.name %> <br>
           <%= gig.venue %><br>
           <%= gig.city %><br>
 
         </li>
      </ol>
    <% end %>
    <% else %>
    You currently have no shows booked. 
  <%end%>

    <h3>Your Info</h3>
    <h4> Based in: </h4><%= @promoter.based_in %><br>

  

      <br>
    <a href="/promoters/<%=@promoter.id%>/edit">Click here to edit your details</a>
    <% end %>
</body>
<br><br>
<a href="/logout">Log Out</a>